name: update

on:
  workflow_dispatch:
  schedule:
    # 日本時間 12, 24時
    - cron: "0 3,15 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Update data
        run: deno task update
        env:
          TZ: "Asia/Tokyo"

      - name: Update README
        run: deno task gen:readme

      - name: Commit the changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(data): エピソードデータを更新"
